@charset "UTF-8";
/* CSS Document */
*, :before, :after {
    box-sizing: border-box;
}
#wrapper {

	width: 80%;
	margin:0 auto;

}

html {

	margin: 0;
	padding: 0;
	background-image: url("images/cvleagfond.jpg");
	background-size: cover;

}

.flex {


	display: flex;
	flex-wrap: wrap;




}
.justify-between {

	justify-content: space-between;

}
#left {

	width: 45%;
	background-color: whitesmoke;
	color: #f2b919;
	padding: 0 30px;

}

#right {

	width: 45%;
	color: whitesmoke;
	margin-top: 0%;
	padding-top: 0%;
	text-align: center;



}


ul img {
	margin-right: 15px;
	vertical-align: middle;
	width: 20px;

}

#contact {

	background-color: whitesmoke;
	padding: 2em 0;
	word-spacing: normal;



}

ul li:not(:last-child) {

		padding-bottom: 15px;

}


ul {
	list-style: none;
	color: #032661;
	padding: 0;
}

#competences {

}
.competence .titre-competences {

	width: 60%;
	font-size: 20px;
	color: #032661;
	font-family: Consolas, Arial;
}
.competence .points-competences{
	display: flex;
	align-items: center;

}


.competence .points-competences span {
	height: 10px;
	width: 10px;
	border: 2px solid #f2b919;
	border-radius: 10px;
	margin-right: 5px;
}

.competence .points-competences span.valide {

	background-color: #f2b919;

}




.picto {

  width: 500px;
  height: 500px;
  align: center;

}

.img {
  width: 60px;

}


#experiences {

	width: 100%;
	height: 100%;
	padding: 15px 30px;
	background-color: #f2b919;
	text-align: right;

}

.date {

	display: flex;

}

.lieu {

	color: #032661;

}

.mission {

	color: #032661;
	text-align: vertical;

}

.date2 {

	display: flex;
	text-align: left;
	color: #ffffff;


}
#education {
	width: 100%;
	height: 100%;
	padding: 15px 30px;
	background-color: #f2b919;
	text-align: right;




}

h1 {

color: #ffffff;
font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif"

}




h2 {

	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";

	text-align:center;

}

h3 {

color: #032661;

}

#left h2 {

	color: #f2b919;

}

#right h2 {


	color: #fff;

}

ul {
	font-family: Gotham, 'Helvetica Neue', Helvetica, Arial, 'sans-serif';
}

p {


	font-family: Consolas, 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter', Monaco, 'Courier New', 'monospace';
	color:#000000;
	word-spacing:normal;
}




.profession {

	display:block;
	background-color:white;
	width:80%;
	margin-left:auto;
	margin-right:auto;
	color:#032661;
	font-size:18px;
}
